@font-face {
    font-family: "Cursed Timer ULiL";
    src: url(/CursedTimerUlil-font.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 30rem;
    height: 20rem;
    margin: 2rem auto;
    background: #1B244A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.item h2 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.item button {
    color: #fff;
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
    font-family: "Cursed Timer ULiL", sans-serif;
    background-color: #1B244A;
    border: 1px solid #9AABD8;
    cursor: pointer;
}

#display1-el,
#display2-el {
    margin-left: 0.8rem;
    background: black;
    width: 120px;
    height: 70px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F94F6D;
    font-family: "Cursed Timer ULiL", sans-serif;
}
